h1{ 
    color:green;
}
body{background-color:rgb(54, 174, 214);
/*font-family: Comic Sans MS, cursive, sans-serif;
font-size: 20px; font-weight: bold;*/
font: 20px Comic Sans MS, cursive, sans-serif;
}
p{font-family:Georgia, 'Times New Roman', Times, serif}