h1{ 
    color:green;
}
body{background-color:rgb(54, 174, 214);
/*font-family: Comic Sans MS, cursive, sans-serif;
font-size: 20px; font-weight: bold;*/
font: 20px Comic Sans MS, cursive, sans-serif;
line-height: 1.6em;
}
p{font-family:Georgia, 'Times New Roman', Times, serif}
.table-section {
    background-color:blueviolet;
    font-size:21px;
    line-height:1.4em;
    width:80%;
}
.list-section{
    background-color:magenta;
    font-size:20px;
    line-height:1.4em;
    width:80%;
   /* border-right:5px solid black;
    border-left:5px solid black;
    border-top:5px solid black;
    border-bottom:5px solid black;*/
    border:5px solid black;
    /*padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;*/
    padding:10px;
    /*margin-top:15px;
    margin-right:15px;
    margin-bottom:15px;
    margin-left:15px;*/
    margin:15px;
}
h3{
    color:yellow;
    text-decoration:underline;
    text-transform:uppercase;
    letter-spacing:2px;
    word-spacing:4px;
}
.class-section{
    background-color:lightgreen;
    font-size:20px;
    line-height:1.4em;
    width:80%;
    border:5px dashed darkgreen;
    padding:10px;
    margin:15px;
}
a{
    color:red;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
    text-transform:uppercase;
    color:orange;}
a:visited {
    color:purple;
}
li{
    margin-bottom:8px;
    border-bottom:1px dotted gray;
}